@font-face {
    font-family: "Xolonium";
    src: url("../fonts/Xolonium.ttf");
}

body {
    background-color: #0d0d0d;
    color: #9c9895;
    font-family: Arial, serif;
}

header h1 {
    /*color: #ffffff;*/
    color: #9c7e35;
}

header ul {
    list-style-type: none;
}

header a, .contactslink, .productlink {
    font-size: 16px;
    /*color: #2A2A7B;*/
    color: #9c7e35;
    text-decoration: none;
    font-family: Xolonium, Helios, serif;
}

.productHname {
    color: #ffffff;
    font-family: Xolonium, Helios, serif;
}

.productHdescription, .contactsH, .productsHcat  {
    font-size: 18px;
    color: #9c7e35;
    background-color: #232020;
    font-weight: 400;
}

.productdescription {
    font-size: 14px;
    color: #707070;
    font-style: italic;
    line-height: 16px;
}

.productoptions {
    font-size: 16px;
    color: #ffffff;
    font-style: oblique;
    list-style-type: disc;
}

.productsmallimage {
    color: #9c7e35;
    border: solid;
}

.contactsfeedback input, .contactsfeedback textarea {
    font-size: 14px;
    color: #9c7e35;
    width: 500px;
    height: 1.5rem;
    margin-bottom: .2rem
}

.contactsfeedback textarea {
    height: 200px;
}

.contactslink, .productlink{
    font-size: 14px;
    text-decoration: underline;
}
